@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  border-bottom: 2px solid #ccc;
  padding: 0 12%;
}

header > nav > ul > li {
  display: inline-block;
  padding: 20px 10px;
}

li > a {
  text-decoration: none;
  color: #659d89;
}

section:not(section:nth-of-type(3), section:nth-of-type(4)) {
  height: 100vh;
}

section:nth-of-type(1) > h1 {
  font-size: 3em;
  color: #659d89;
  margin-top: 200px;
}

section:nth-of-type(1) > p:nth-of-type(1) {
  font-size: 3em;
  color: #333;
  width: 40%;
}

section:nth-of-type(1) > p:nth-of-type(1)::before {
  content: "";
  height: 2px;
  background-color: #333;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

section:nth-of-type(1) > ul {
  font-size: 2em;
  text-align: right;
}

section:nth-of-type(1) > ul > li > a {
  color: #666;
}

section:nth-of-type(1) > p:nth-of-type(2) {
  display: inline-block;
  margin-left: 15px;
  color: #333;
}

section:nth-of-type(2) {
  color: #333;
}

section:nth-of-type(2) > div > img:hover {
  box-shadow: 0 0 5px grey;
}

section:nth-of-type(2) > h2,
section:nth-of-type(3) > h2 {
  padding-top: 60px;
}

section:nth-of-type(2) > div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

section:nth-of-type(2) > div:nth-of-type(2) {
  margin-top: 60px;
}

section:nth-of-type(3) > div {
  width: 58%;
  margin-top: 120px;
}

section:nth-of-type(3) > div img {
  width: 100%;
}

section:nth-of-type(3) p,
h3 {
  text-align: center;
}

section:nth-of-type(3) p {
  color: #666;
}
section:nth-of-type(3) p:nth-of-type(2) {
  font-size: 12px;
}

section:nth-of-type(3) > div {
  position: relative;
}

section:nth-of-type(3) > div:nth-of-type(2n) {
  left: 42%;
}

section:nth-of-type(3) > div:nth-of-type(2n + 1) {
  left: 5%;
}

section:nth-of-type(3) > div:nth-of-type(4) {
  margin-bottom: 150px;
}

section:nth-of-type(4) > div > h3 {
  display: inline-block;
}

section:nth-of-type(4) > div {
  margin-top: 80px;
  text-align: center;
  color: #333;
}

section:nth-of-type(4) > div > span {
  display: inline-block;
  margin-right: 10px;
}

section > article {
  text-align: center;
  padding-top: 150px;
}

section > article p {
  display: inline-block;
}
